.intro-section{
		
		max-width:620px;
		margin-bottom: 24px;

		@media(min-width:740px){

		}

		@media(min-width:1140px){
			margin-left:160px;

		}

		@media(min-width:1300px){
			margin-left:240px;
		}



		h3{
			@include fs-header(2);
			    margin-bottom: 0 !important;
		}


		p{
			@include fs-headline(3);
			color: $neutral-2; //$neutral-2 same as standard standfirst
			margin-bottom: 12px;
			font-size: 18px;
			line-height: 22px;

		}

	
	    ul {
	        margin: 0;
	        padding: 0;
	        margin-bottom: 12px;
	        li {
	            @include fs-textSans(3);
	            color: $neutral-2;
	            list-style: none;
	            padding: 0;
	            margin-right: 10px;
	            display: inline-block;
	            vertical-align: top;  
	            line-height: 1.4em;

	            @include mq(desktop){
	            	@include fs-headline(2);
	            	font-size:18px;
	            	line-height: 22px;
	            }
	            
	            
	            strong {
	                font-weight:600;
	                display: block;
	            }
	        }

	        li:before{
	            display:none !important;
	        }
	    }


		.highlight-span{
			color:$neutral-1;
			font-weight: 500;
		}
	}
